.converter {
  margin-top: 150px;

  &-currency {
    border: 1px solid #a794d0;
    border-radius: 10px;
    padding: 10px 20px;

    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    max-width: 400px;
    box-sizing: border-box;

    &-vertical-line {
      border-left: 1px solid #a794d0;
      margin: 0 35px;
      height: 35px;
    }

    select, input {
      font-family: "Montserrat", sans-serif;
      font-size: 17px;
      font-weight: 500;
      border: unset;
      background: none;
      cursor: pointer;
      -webkit-appearance: none;
    }

    input {
      text-align: end;
      width: 100%;
      max-width: 400px;
      box-sizing: border-box;
    }

    input:focus-visible, select:focus-visible {
      border: unset;
      outline: none;
    }
  }

  &-currency:first-child {
    margin-bottom: 20px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 484px) {
  .converter {
    margin-top: 200px;
  }
}
